[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.2.4"
asgiref = "==3.9.1"
requests = "==2.32.4"
djangorestframework = "==3.16.0"
djangorestframework-simplejwt = "==5.5.1"
django-cors-headers = "==4.7.0"
pillow = "==11.3.0"
django-filter = "==25.1"
django-environ = "==0.12.0"
drf-yasg = "==1.21.10"
channels = "==4.3.0"
django-storages = "==1.14.6"
django-allauth = "==65.10.0"
dj-rest-auth = "==7.0.1"
celery = "==5.5.3"
gunicorn = "==23.0.0"
psycopg2-binary = "==2.9.10"
flower = "==2.0.1"
cryptography = "==45.0.5"
argon2-cffi = "==25.1.0"
redis = "==6.2.0"
boto3 = "==1.39.16"
channels_redis = "==4.3.0"
google-auth = "==2.0.0"

[dev-packages]
freezegun = "==1.5.3"
pytest = "==8.4.1"

[requires]
python_version = "3.11"
